<!DOCTYPE html>
<html ng-app="NorthApp">
<head>
    <meta charset="utf-8" />
    <title>North App</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body>
    <div class="container" ng-controller="CategoryCtrl">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="input-sm form-control" ng-model="arama" placeholder="Kategori Ara" />
                <input type="button" value="Yeni" class="btn btn-info" ng-click="yeni()" />
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad</th>
                            <th>Açıklama</th>
                            <th>Düzen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, category) in categories | filter:arama">
                            <td>{{key+1}}</td>
                            <td>{{category.CategoryName}}</td>
                            <td>{{category.Description}}</td>
                            <td>
                                <input type="button" value="Düzenle" class="btn btn-block btn-success" ng-click="duzenle(category)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6" ng-show="isopen">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" ng-model="category.CategoryName" class="form-control" placeholder="Kategori Adı" />
                    </div>
                    <div class="col-md-12">
                        <input type="text" ng-model="category.Description" class="form-control" placeholder="Kategori Adı" />
                    </div>
                </div>
                <div class="row">
                    <input type="button" value="Güncelle" ng-show="!isnew" class="btn btn-danger"
                           ng-click="guncelle(category)" />
                    <input type="button" value="Kaydet" ng-show="isnew" class="btn btn-success"
                           ng-click="kaydet(category)" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>